In [11]:
import geopandas as gpd
import pandas as pd
from rasterstats import zonal_stats

In [13]:
# Specify the years of interest
years = [1990, 1995, 2000] + list(range(2005, 2021))

# Create an empty DataFrame to store the merged data
merged_data = pd.DataFrame()

In [14]:
for year in years:
    raster_path = f'/Users/andrewzimmer/Documents/Montana State - Postdoc/Research/Zimmer - Urban Demography : AQ : Heat/data/aq/no2/{year}_final_1km.tif'
    shapefile_path = '/Users/andrewzimmer/Documents/Montana State - Postdoc/Research/Zimmer - Urban Demography : AQ : Heat/data/UCDB/ghs_ucdb.shp'
    shp = gpd.read_file(shapefile_path)
    stats = zonal_stats(shp, raster_path, stats="mean")
    stats_zonal = pd.DataFrame(stats)
    stats_zonal['fid'] = shp['fid']
    stats_zonal['Name'] = shp['UC_NM_MN']
    stats_zonal.rename({'mean': f"mean_{year}"}, axis=1, inplace=True)
    print(f"Completed processing data for year {year}")

    # Merge the data on 'fid' and 'Name' fields
    if merged_data.empty:
        merged_data = stats_zonal
    else:
        merged_data = pd.merge(merged_data, stats_zonal, on=['fid', 'Name'], how='outer')

# Display the merged data
merged_data

Completed processing data for year 1990
Completed processing data for year 1995
Completed processing data for year 2000
Completed processing data for year 2005
Completed processing data for year 2006
Completed processing data for year 2007
Completed processing data for year 2008
Completed processing data for year 2009
Completed processing data for year 2010
Completed processing data for year 2011
Completed processing data for year 2012
Completed processing data for year 2013
Completed processing data for year 2014
Completed processing data for year 2015
Completed processing data for year 2016
Completed processing data for year 2017
Completed processing data for year 2018
Completed processing data for year 2019
Completed processing data for year 2020

,mean_1990,fid,Name,mean_1995,mean_2000,mean_2005,mean_2006,mean_2007,mean_2008,mean_2009,...,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017,mean_2018,mean_2019,mean_2020
0,11.681422,1.0,Honolulu,12.355969,11.855601,10.503965,10.650391,10.471128,9.981030,9.173414,...,8.549763,8.633890,8.650765,8.818551,8.460729,8.188257,7.995324,7.828063,7.512933,6.856297
1,NaN,2.0,Papeete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.403898,3.0,Santa Maria,17.348193,14.977783,10.056979,10.693891,10.680662,10.191054,9.386534,...,10.615385,9.549004,8.885841,9.049662,8.763689,8.718346,8.512756,8.418610,8.075698,8.293732
3,13.141720,4.0,Monterey,15.828014,13.665317,10.868765,11.016509,11.338571,11.674427,10.334060,...,9.685185,8.868370,7.910803,7.849101,7.817540,7.704621,7.192473,6.684038,6.626042,7.215643
4,13.345838,5.0,Santa Barbara,16.073858,13.877569,14.292710,13.433176,12.290373,11.674326,9.858455,...,9.835616,9.055231,8.231812,8.092767,7.846866,8.398192,8.382490,7.789374,6.651975,7.870185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13130,8.415719,13131.0,Tauranga,8.172029,8.181738,6.718265,7.377142,7.493949,7.527003,7.096947,...,7.438356,7.126960,6.590213,6.339394,6.264834,6.666641,7.013743,6.703647,5.842811,6.734549
13131,NaN,13132.0,Buin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13132,7.194387,13133.0,Honiara,6.497625,5.235470,5.412176,5.055694,4.929540,5.008508,4.557323,...,3.576923,4.979950,5.169426,4.961258,5.269144,5.272637,5.817670,5.790307,5.170450,4.974429
13133,2.057929,13134.0,Nouméa,1.854964,1.720309,4.623045,5.083573,5.293421,5.312007,5.356178,...,5.809524,5.369862,5.297559,5.373737,5.696845,5.713068,5.897066,5.555332,5.252837,5.098573
13134,2.987819,13135.0,Suva,2.371179,2.433529,2.349778,2.402847,2.459914,2.562597,2.512500,...,1.301370,2.169913,2.099955,2.132335,2.108694,2.013521,2.087996,2.140582,2.355013,2.304328

In [16]:
# Melt the data frame
melted_df = pd.melt(merged_data, id_vars=['fid', 'Name'], var_name='year', value_name='NO2')

# Extract year from the 'year' column
melted_df['year'] = melted_df['year'].str.extract('(\d+)')

# Drop the 'name' column
melted_df = melted_df.drop(columns=['Name'])

# Check it looks ok
melted_df

            fid  year        NO2
0           1.0  1990  11.681422
1           2.0  1990        NaN
2           3.0  1990  14.403898
3           4.0  1990  13.141720
4           5.0  1990  13.345838
...         ...   ...        ...
249560  13131.0  2020   6.734549
249561  13132.0  2020        NaN
249562  13133.0  2020   4.974429
249563  13134.0  2020   5.098573
249564  13135.0  2020   2.304328

[249565 rows x 3 columns]

In [18]:
# Export the file
melted_df.to_csv('/Users/andrewzimmer/Documents/Montana State - Postdoc/Research/Zimmer - Urban Demography : AQ : Heat/data/aq/no2/ucdb-no2-extracted.csv', index = False)